services:
  kamailio_a:
    image: ghcr.io/kamailio/kamailio:6.0.3-focal
    container_name: kamailio_a
    networks:
      - sipnet
    hostname: sipnet.a
    environment:
      - SIP_DOMAIN=sipnet.a
      - WITH_DB=no
    volumes:
      - ./scripts/app.cfg:/etc/kamailio/kamailio.cfg:ro
      - ./scripts/registrar-redirect-a.py:/etc/kamailio/app.py:ro
    restart: unless-stopped

  kamailio_b:
    image: ghcr.io/kamailio/kamailio:6.0.3-focal
    container_name: kamailio_b
    networks: 
      - sipnet
    hostname: sipnet.b
    environment:
      - SIP_DOMAIN=sipnet.b
      - WITH_DB=no
    volumes:
      - ./scripts/app.cfg:/etc/kamailio/kamailio.cfg:ro
      - ./scripts/registrar-redirect-b.py:/etc/kamailio/app.py:ro
    restart: unless-stopped

  terminals:
    image: igrs_grlt:04
    container_name: terminal
    hostname: sipnet.terminal
    networks:
      - sipnet
    ports:
      - "5090:5090"
      - "5900:5900"
    privileged: true
    restart: unless-stopped

networks:
  sipnet:
    driver: bridge
